//@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.container-fluid {
  max-width: 1100px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #11779a;
  padding: 10px 0;

  &-content {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-weight: 800;
      font-size: 25px;
    }
  }

  &-right {
    display: flex;
    gap: 100px;

    & a {
      font-weight: 700;
      font-size: 15px;
      color: white;
    }
  }
}

.promo {
  background-image: url("./image/imgBG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  color: white;
  height: 700px;

  &-wrap {
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-text {
    display: flex;
    flex-direction: column;

    &__title {
      font-weight: 700;
      font-size: 45px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__street {
      margin-top: 150px;
      font-size: 15px;
    }

    & span {
      font-weight: 600;
    }
  }

  &-form {
    backdrop-filter: blur(10px);
    padding: 20px 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    background: rgba(237, 250, 255, 0.13);
    border: 0.1px solid #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    &__title {
      text-align: center;
      font-weight: 700;
      font-size: 19px;
      margin-top: 10px;
    }

    &__subtitle {
      text-align: center;
      font-weight: 400;
      margin-top: 20px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      & input {
        max-width: 100%;
        background-color: transparent;
        border: none;
        border-bottom-color: #fff;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding-bottom: 2px;
        font-weight: 500;
        color: white;

        &::placeholder {
          font-weight: 500;
          color: white;
        }

        &:hover {
          border: none;
          border-bottom-color: #fff;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          outline: none;
        }

        &:active {
          border: none;
          border-bottom-color: #fff;
          border-bottom-style: solid;
          border-bottom-width: 1px;
        }

        &:focus-visible {
          border: none;
          border-bottom-color: #fff;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          outline: none;
        }

        &:nth-child(1) {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }

    &__button {
      color: white;
      background-color: #347a92;
      border-radius: 20px;
      padding: 10px 0;
      border: none;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}

.line {
  background-color: #11779a;
  padding: 20px 0;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      color: white;
    }

    & button {
      color: #000000;
      background-color: #fff;
      border-radius: 20px;
      padding: 10px 20px;
    }
  }
}

.parents {
  &__title {
    margin-top: 128px;
    color: black;
    font-weight: 700;
    font-size: 36px;
  }

  &__subtitle {
    font-weight: 400;
    color: black;
    font-size: 32px;
    margin-top: 30px;
  }

  &-images {
    margin-top: 136px;
    display: flex;
    gap: 60px;
  }

  &__lines {
    position: absolute;
    width: 99.9%;
    height: 66.2%;
  }
}

.infra {
  padding: 70px 0;
  background-color: #11779a;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: white;
    font-weight: 700;
    font-size: 36px;
  }

  &__subtitle {
    color: white;
    font-weight: 400;
    font-size: 24px;
    margin-top: 26px;
    text-align: center;
  }

  &-cards {
    margin-top: 100px;
    display: flex;
    gap: 100px;

    &__text {
      padding-top: 20px;
      padding-bottom: 37px;
      margin-top: -10px;
      background-color: white;
      color: black;
      filter: drop-shadow(0px 3px 17px rgba(0, 0, 0, 0.4));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 10px 10px;
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
    }

    &__subtitle {
      margin-top: 20px;
      font-weight: 300;
      font-size: 20px;
    }
  }
}

.cards {
  margin: 50px 0;

  &-wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &-item {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 240px;

    &__image {
      max-width: 45%;
      box-shadow: 0 5px 7px rgb(0 0 0 / 36%);
      object-fit: cover;
      border-radius: 10px;
    }

    &__element {
      max-width: 45%;
      background-color: #11779a;
      color: white;
      padding: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 5px 7px rgb(0 0 0 / 36%);
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
    }

    &__subtitle {
      font-weight: 500;
      font-size: 18px;
      margin-top: 10px;
    }
  }
}

.news {
  margin-top: 70px;

  &-wrap {
    display: flex;
    flex-direction: column;
  }

  &__cards {
    margin-top: 40px;
    display: flex;
    gap: 15px;
  }

  &__title {
    color: #464646;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }

  &-card {
    display: flex;
    flex-direction: column;
    width: 24%;
    border-radius: 0 0 10px 10px;

    &__content {
      padding: 10px;
      color: white;
      background-color: #11779a;
      border-radius: 0 0 10px 10px;
      display: flex;
      flex-direction: column;

      &-subtitle {
        margin-top: 10px;
        padding-bottom: 20px;
      }
    }
  }

  &-button {
    margin: 40px 0;
    background-color: #11779a;
    width: 30%;
    padding: 10px 0;
    border-radius: 20px;
    cursor: pointer;
  }
}

.footer {
  background-color: #11779a;
  width: 100%;

  &-info {
    display: flex;
    flex-direction: column;
    color: white;

    &__title {
      font-size: 36px;
      font-weight: 700;
    }

    &__subtitle {
      font-size: 16px;
      font-weight: 500;
      margin-top: 10px;
    }

    &__name {
      font-size: 15px;
      font-weight: 400;
      margin-top: 35px;
    }

    &__link {
      color: #a6c8fb;
      font-size: 15px;
      font-weight: 400;
      text-decoration: underline;
    }
  }

  &-items {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & > span {
      font-weight: 600;
      font-size: 20px;
    }

    & > a {
      font-size: 16px;
      font-weight: 500;
      color: white;
    }

    &__social {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
    }
  }

  &-content {
    display: flex;
    padding: 80px 0 120px 0;
    gap: 130px;
  }
}

@media (max-width: 1440px) {
  .infra
  {
    &-cards
    {
      gap: 20px;
      &__item
      {
        &:last-child
        {
          display: none;
        }
      }
    }
  }
  .parents
  {
    &-images
    {
      &:last-child
      {
        display: none;
      }
    }
  }
  .news
  {
    &-card
    {
      &__content
      {
        height: 100%;
      }
    }
    &__cards
    {
      gap: 10px;
    }
  }
  .footer
  {
    &-content
    {
      gap:60px;
      justify-content: center;
    }
  }
}
@media (max-width: 768.99px) {
  .container-fluid {
    padding: 0 1rem;
  }
  .container {
    padding: 0 1rem;
  }
  .promo {
    &-form {
      width: 50%;
    }
  }
  .cards {
    &-item {
      flex-direction: column;
      height: auto;
      &__image {
        max-width: 100%;
        &:nth-child(2) {
          order: -1;
        }
      }
      &__element {
        max-width: 100%;
      }
    }
  }
  .infra {
    &__title
    {
      text-align: center;
    }
    &-cards {
      flex-direction: column;
      width: 90%;
      &__item
      {
        &:last-child
        {
          display: block;
        }
      }
      & img {
        width: 100%;
      }
    }
  }
  .parents {
    &__subtitle
    {
      text-align: center;
    }
    &__lines {
      display: none;
    }
    &-images {
      flex-direction: column;
      &:last-child
      {
        display: flex;
      }
    }
  }
  .news {
    &-card {
      width: 100%;
    }
    &__cards {
      flex-direction: column;
      align-items: center;
    }
    &-button {
      width: 100%;
      font-size: 20px;
    }
  }
  .footer {
    &-content {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    &-info {
      text-align: center;
      &__name {
        margin-top: 10px;
      }
    }
    &-items {
      &__social {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 625px) {
  .header {
    &-right {
      gap: 20px;
    }
  }
  .promo {
    &-wrap {
      flex-direction: column;
      justify-content: space-around;
    }
    &-text {
      text-align: center;
      &__street {
        margin-top: 10px;
      }
    }
    &-form {
      width: 100%;
    }
  }
  .footer {
    &-content {
      flex-direction: column;
      align-items: center;
    }
    &-info {
      text-align: center;
      &__name {
        margin-top: 10px;
      }
    }
    &-items {
      &__social {
        justify-content: center;
      }
    }
  }
}
@media (max-width: 425px) {
  .header {
    &-content {
      &__title {
        font-size: 20px;
      }
    }
    &-right {
      & a {
        font-size: 9px;
      }
    }
  }
}
